<div class="row">
  <div class="button">
      <a class="waves-effect waves-light btn-small" (click)="goBack()">back</a>
  </div>
  

      <div class="photo-info">
          <div class="col s12 m5">
            <img src="{{photoInfo?.url}}" alt="photo">
          </div> 
          <div class="col s12 m7">
            <h3>Photo information</h3>
            <p class="descr">Title: {{photoInfo?.title}}</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa minus odit repellat rerum, nulla quod repellendus sit illo, odio deleniti recusandae eaque consequatur, omnis eveniet!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora ullam fuga magnam vitae qui ipsum mollitia? Blanditiis temporibus tempore consectetur.</p>           
          </div> 
      </div> 
     
</div>