<div class="row">
    <div class="button">
        <a class="waves-effect waves-light btn-small" (click)="goBack()">back</a>
    </div>
    
    <div class="col s6 m3"
      *ngFor="let photo of photos"
    >
      <div class="card">
        <div class="card-image">
          <img src="{{photo.thumbnailUrl}}">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a routerLink="/albums/{{photo.albumId}}/{{photo.id}}">Photo info </a>
        </div>
      </div>
    </div>
  </div>